<!--
 * @Author: 24min
 * @Date: 2022-06-18 14:26:22
 * @LastEditors: fanjf
 * @LastEditTime: 2022-06-20 15:25:49
 * @FilePath: \lottery-web\index.html
 * @note: If it ain't broke, don't fix it.🍤
 * @Description: to bo continued... https://codepen.io/Chokcoco/pen/jKgmKV
-->
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>heart.ico">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <title>
        🍤🍔🥝🌭🍥🧇🍓🍲🥭🍉🍙🥯
    </title>
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
                Please enable it to continue.</strong>
    </noscript>
    <div class="m-btn g-btn-start">Start Eat</div>
    <div class="g-name">fan</div>
        <!-- <img src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="home" class="content show">
        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="work" class="content">
        <img src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80" alt="blog" class="content">
        <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="about" class="content"> -->
        <nav class="tab">
            <ul class="tab-ul">
                <li class="active eat tab-li" id="Eat">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <p>吃</p>
                </li>
                <li class="drink tab-li" id="Drink">
                    <i class="fa fa-beer" aria-hidden="true"></i>
                    <p>喝</p>
                </li>
                <li class="play tab-li" id="Play">
                    <i class="fa fa-yelp" aria-hidden="true"></i>
                    <p>玩</p>
                </li>
                <!-- <li>
              <i class="fas fa-users"></i>
              <p>About Us</p>
            </li> -->
            </ul>
        </nav>
    <!-- built files will be auto injected -->
    <script src="./jquery.js"></script>
    <script src="./index.js"></script>
</body>

</html>